<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#starks-panel" class="mdl-tabs__tab is-active">Fiesta Insurance</a>
        <a href="#lannisters-panel" class="mdl-tabs__tab">Lannisters</a>
        <a href="#targaryens-panel" class="mdl-tabs__tab">Targaryens</a>
    </div>
  
    <div class="mdl-tabs__panel is-active" id="starks-panel">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--8-col">
              <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                  
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">FI Test Plan</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Mauris sagittis pellentesque lacus eleifend lacinia...
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Generate Report
                  </a>
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    View Previous results
                  </a>
                </div>
                <div class="mdl-card__menu">
                  <button id="tt2" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">play_circle_filled</i>
                  </button>
                  <div class="mdl-tooltip mdl-tooltip--large" for="tt2">
                      Run
                      </div>
                      <div id="piechart" style="width: 900px; height: 500px;"></div>
                </div>
              </div></div>
            <div class="mdl-cell mdl-cell--2-col"></div>
          </div>
    </div>
    <div class="mdl-tabs__panel" id="lannisters-panel">
      <ul>
        <li>Tywin</li>
        <li>Cersei</li>
        <li>Jamie</li>
        <li>Tyrion</li>
      </ul>
    </div>
    <div class="mdl-tabs__panel" id="targaryens-panel">
      <ul>
        <li>Viserys</li>
        <li>Daenerys</li>
      </ul>
    </div>
  </div>
